<!-- Codigo Reutilizable -->
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="icon" type="image/png" href="https://img.icons8.com/?size=100&id=36138&format=png&color=000000">
    <title>{% block title %} {% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'food/css/style.css' %}">

    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="{% static 'food/css/style.css' %}">
    <script src="{% static 'food/js/main.js' %}"></script>

</head>

<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#">
            <!-- El link ese de abajo es el icono de la barra de arriba, se puede aniadir margen-->
          <img src=https://res.cloudinary.com/dwrlz7fdi/image/upload/v1718523590/eb22272d-2e78-4600-95e5-2855490e558b.png class="logo">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynav" aria-controls="mynav"> <!-- cositas para hacerlo responsive-->
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynav">
        <!-- Links, nombres en barra de arriba -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if active_link == 'index' %} active {% endif %}" href="{% url 'index' %}">Menu</a> 
            <!-- solo index pq esa url ya esta definida en el proyeco -->
          </li>
          <li class="nav-item">
            <a class="nav-link {% if active_link == 'hamburguesa' %} active {% endif %}" href="{% url 'food:hamburguesas' %}">Hamburguesas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if active_link == 'bebida' %} active {% endif %}" href="{% url 'food:bebidas' %}">Bebidas</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto"> <!-- margin left que es una boostrap class para poner el carrito a la derecha -->
          {% if user.is_authenticated %} <!-- si inicio sesion -->
          <li class="nav-item mt-2">
            <h5 class="text-light pt-3 pr-4">Bienvenido {{ user.username }}</h5>
          </li>
          {% endif %}
          <li class="nav-item mt-2">
            <a href="{% url 'food:pedido' %}" class="nav-link {% if active_link == 'pedido' %} active {% endif %}">     <!-- v9 -->
              <img src="https://img.icons8.com/?size=35&id=15893&format=png&color=000000"><span id="carrito"></span></a>
          </li>
          {% if user.is_authenticated %} <!-- v12 -->
          <li class="nav-item">
            <a href="{% url 'food:logout' %}" class="nav-link {% if active_link == 'logout' %} active {% endif %}"> 
              <img class="icon-margin" src="https://img.icons8.com/?size=35&id=rrtYnzKMTlUr&format=png&color=000000">
              <br>Salir
            </a> 
          </li>
          {% else %}
          <li class="nav-item">
            <a href="{% url 'food:login' %}" class="nav-link {% if active_link == 'login' %} active {% endif %}"> <!-- v12 -->
              <img class="icon-margin" src="https://img.icons8.com/?size=35&id=rrtYnzKMTlUr&format=png&color=000000">
              <br>Ingresar
            </a> 
          </li>
          {% endif %}
        </ul>
      </div>
      </nav>
      <div>
        {% block content %} {% endblock %}
      </div>
    <!-- jQuery library -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
-->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>   <!-- IMPORTANTE QUE ESTE ACTUALIZADO PARECE -->
<!-- Popper JS -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

<!-- Link para nuestro archivo JavaScript -->
<script src="{% static 'food/js/main.js' %}"></script>


</body>
</html>

