{% extends 'food/base.html' %}

<!-- Este sería el nombre de la pestaña -->
{% block title %}Historial de Pedidos{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center">Historial de Pedidos</h1>
    <div class="row mt-5">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Número de Pedido</th>
                        <th>Fecha</th>
                        <th>Total</th>
                        <th>Detalles</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pedido in pedidos %}
                    <tr>
                        <td>{{ pedido.numero }}</td>
                        <td>{{ pedido.date }}</td>
                        <td>${{ pedido.cuenta }}</td>
                        <td>
                            <a href="#" class="btn btn-primary ver-detalles" data-pedido="{{ pedido.id }}">Ver Detalles</a>
                            <div id="detalles-{{ pedido.id }}" class="detalles" style="display: none;">
                                <!-- Aquí puedes mostrar los detalles del pedido -->
                                <ul>
                                    {% for item in pedido.item_set.all %}
                                    <li>{{ item.nombre }} - {{ item.precio }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">No hay pedidos registrados.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
$(document).ready(function() {
    $('.ver-detalles').click(function(e) {
        e.preventDefault();
        var pedidoId = $(this).data('pedido');
        $('#detalles-' + pedidoId).toggle();
    });
});
</script>

{% endblock %}
