/* Cuando en el codigo ponemos class = algo
pasamos ese algo que esta definido aqui */

.logo {
    margin-bottom: 5px; /* margen bajo elementos barra */
    width: 65px; /* Ancho de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
}

.home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("../img/home.jpeg");
    background-size: cover;
    background-position: center center;
    z-index: -1;
    background-repeat: no-repeat;
}

.title {
    margin: 50px;
    text-align: center;
}

.picture {
    width: 200px;
    border-radius: 50%; /* Forma Circular */
    height: 150px;
}

#cart {
    float:right;
}

.pedidos{
    position: relative;
    top: 100px;
}

.icon-margin {
    margin-left: 12px; /* Icono Usuario: Ajusta este valor para encontrar el margen perfecto del */
}


.del {                           /* Boton borrar */
    position: absolute;
    right: 30px;
    background-color: coral;
    color: white;  /* Usar un color de texto más contrastante */
    width: 20px;
    height: 20px;
    border-radius: 50%;  /* Hacer el botón circular */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;  /* Añadir cursor pointer para indicar que es clickeable */
    transition: background-color 0.3s, transform 0.3s;  /* Añadir transiciones */
}

.del:hover, .del:focus {  /* Efectos de hover (cambia cuando se pasa el cursor) y focus */
    background-color: darkred;
    transform: scale(1.1);  /* Agrandar ligeramente al hacer hover */
}

.del::before {  /* Usar pseudo-elemento para añadir un ícono */
    content: "\2716";  /* Unicode para una cruz */
    font-size: 16px;  /* Ajustar tamaño del ícono */
    line-height: 1;  /* Alinear verticalmente */
}


li{
    display: flex;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

/* Buscar bien los ids final v11 min10 aprox
#id_username{
    background-color: aquamarine;
}
*/





/* Colores personalizados */
.btn-coral {
    background-color: #FF6F61; /* Color coral */
    color: white;
    border: none;
}

.btn-coral:hover {
    background-color: #FF4A3A; /* Color coral más oscuro */
    color: white;
}

/* Ajustes adicionales */
.card {
    border: none;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.shadow-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
}

.card-title {
    font-family: 'Helvetica', sans-serif; /* Fuente profesional */
}

.card-body p {
    font-family: 'Helvetica', sans-serif; /* Fuente profesional */
}

.container {
    max-width: 960px;
}

.btn {
    width: 100%;
    margin-top: 10px;
}

.logoMenu {
    position: fixed;
    bottom: 20px; /* Distancia desde la parte inferior */
    right: 20px; /* Distancia desde el lado derecho */
    width: 100px; /* Ancho de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
    z-index: 999; /* Asegura que esté sobre otros elementos */
    opacity: 0.8; /* Opacidad para hacerla menos prominente */
}

.alert-info {
    border-color: #00c7c7; /* Light blue border */
    font-size: 16px; /* Adjust font size */
}

.alert-info p {
    color: #333; /* Darker text color */
}


.logout-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center children horizontally */
    text-align: center; /* Center text */
}

.icon-margin-salir {
    margin-left: 12px; /* Icono Usuario: Ajusta este valor para encontrar el margen perfecto del */
    width: 40px; /* Ancho de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
}

.logout-text {
    margin-top: 8px; /* Space between icon and text */
    line-height: normal; /* Reset line-height */
}


.delete-icon {
    display: inline-block;
    width: 35px; /* Adjust the width as needed */
    height: 32px; /* Adjust the height as needed */
    background-size: cover; /* Ensure the icon covers the button area */
    background-position: center; /* Center the icon within the button */
    cursor: pointer; /* Indicate that it's a clickable element */
    border-radius: 50%; /* Make the button a circle */
    border: none; /* Remove default button border */
    padding: 0; /* Remove default button padding */
    margin-top: 30px; /* Add a 5px margin from the top */
    margin-left: 155px; 
}

.delete-icon img {
    width: 75%; /* Ensure the icon image fills the button area */
    height: 75%; /* Ensure the icon image fills the button area */
    margin-top: 4px; /* Add a 5px margin from the top */
}

.act-boton {
    width: 100%;
    margin-top: 30px;
    margin-right: -83px;
    margin-left: 150px; /* Add margin-left property */
}

.des-boton {
    width: 100%;
    margin-top: 30px;
    margin-right: -83px;
    margin-left: 150px; /* Add margin-left property */
}